pip>=9
setuptools>=26
twine
wheel>=0.29
numpy
fastapi
uvicorn
opencv-python
pandas
google-cloud-bigquery
google-cloud-storage
db-dtypes
pyarrow
python-multipart
psycopg2-binary
fastapi==0.70.1
pytz
httpx
roboflow
